body{
background-color: black;
color: whitesmoke;

}

h5 {
  color: greenyellow;
  font-style: italic;
  text-align: left; 
}
h5  {
  color:  rgb(39, 221, 221);
  font-style: italic;
  text-align: left; 
}
p {
  color:  rgb(39, 221, 221);
  font-style: inherit;
}
h4 {
  color:  rgb(39, 221, 221);
  font-style: oblique;
}
h3 {
  color: rgb(39, 221, 221);
  font-style: inherit;
}
h1 {
  color:  rgb(39, 221, 221);
  border-top: mediumseagreen;
  text-align: left;  
  font-style: inherit;
   text-underline-position: below;
}
ul {
  color: rgb(39, 221, 221);
  color:  rgb(39, 221, 221)
}
a {
  color: rgb(55, 192, 226);
}

button {
  color:white;
  background-color: black;
}
#eagle{
  border: 2px solid white